.terminal-window {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: #fcecac; */
    background-color: #ffffff;
    border-color: #f4c40d;
    border-style: solid;
    border: 2px 2px;
    height: 550px;
    width: 500px;
    border-radius: 10px;
}

.terminal-bar {
    background-color: #f4c40d;
    height: 30px;
    width: 100%;
}

.terminal-button {
    background-color: #ffffff;
    color: #ffffff00;
    float: left;
    height: 15px;
    width: 15px;
    margin: 7px 2px 2px 2px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-weight:700;
}

.red {
    background-color:#f98d77;
    font-size:15px;
    margin-left:7px;
}

.red:hover {
    color:#db624ad9;
}

.yellow {
    background-color:#ecec8a;
    font-size: 24px;
    font-weight:900;
}

.yellow:hover {
    color:#c3c32fd9;
}

.green {
    background-color:#90e690;
    font-size: 20px;
}

.green:hover {
    color:#3abe3ad9;
}

.terminal-text {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #f4c60db2;
}

.disabled {
    opacity: 0;
}

.terminal-cursor {
    animation: blinker 1s step-start infinite;
    display: inline;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}